* {
    margin:0;
    padding:0;
}

body {
    background-color: bisque;
    font-size: medium;
    font-family: sans-serif;
}


#navbar {
    margin:auto;
    padding: 10px;
    background-color: blue;

}

.navbar ul {
    padding:0%;
}

.navbar li {
    display: inline;
}
/*H1 tag welcome to our shop changes*/
h1 {
    text-align: center;
    
}

#showcase1{
    position: relative;
    background: url(heroimage.jpeg) no-repeat center;
    height: 500px;
    overflow: hidden;
    background-size: cover;
    margin-top: 10px;
}

.showcasetext {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50 , 50);
    overflow: hidden;
    text-align: center;
    color: white;
    padding: 10px;
    text-shadow: red 5px 3px;
    font-size: 25px;
}



/*Below made the width of the image the size of the container*/



/*Product css below*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-style:solid;
    margin-top: 20px;
}

.griditem1 {
    border-style: solid;
    height: 250px;
}

.griditem2 {
    border-style: solid;
    height: 250px;
}

.griditem3 {
    border-style: solid;
    height: 250px;
}

.griditem4 {
    border-style: solid;
    height: 250px;
}

.griditem5 {
    border-style: solid;
    height: 250px;
}

.griditem6 {
    border-style: solid;
    height: 250px;
}

.griditem7 {
    border-style: solid;
    height: 250px;
}

.griditem8 {
    border-style: solid;
    height: 250px;
}

.griditem9 {
    border-style: solid;
    height: 250px;
}

.griditem10 {
    border-style: solid;
    height: 250px;
}

.griditem11 {
    border-style: solid;
    height: 250px;
}

.griditem12 {
    border-style: solid;
    height: 250px;
}